body {
  background-image: url(http://31.media.tumblr.com/17fea920ff36ef4f5b877d5216a7aad9/tumblr_mo9xje8zZ41qcbiufo1_1280.gif);
  background-size: 100%;
  background-repeat: no-repeat;
}

header {
  width: auto;
  background-color: transparent;
  font-family: helvetica;
  text-align: center;
}
.column-1 {
  float: left;
  max-width: 50%;
  background-color: transparent;
  font-family: arial black ;
  font-size: .75em;
 
}
.column-2 {
  float: right;
  max-width: 50%;
  background-color: transparent;
  font-family: arial black;
  font-size: .75em;
}

footer {
  clear: both;
  background-color: gray;
  width: 500px;
  margin: 0 auto 0 auto;
  padding: 10px

}

h1 {
  font-size: 2em;
  letter-spacing: .1em;
  font-family: arial black;
}

h2 {
  font-size: 1em;
}